// SASS SYNTAX TO CREATE A SASS VARIABLE TO REUSE THROUGHOUT YOUR STYLE SHEETS

$container-shadow: 4px 4px 19px -6px rgba(0,0,0,0.68);
$bottom-shadow: 0px 5px 19px -10px rgba(0,0,0,0.68);
$main-color: #87AAAF;

.container {
  padding-top: 75px;
}

// SASS SYNTAX TO STYLE NESTED DOM ELEMENTS
#upNext {
  .card {
    width: 13rem;
    margin: .7rem auto;
  }
  padding: .5rem;
  width: 15rem;
  box-shadow: $container-shadow
}

#playlist-container {
  padding: .5rem;
  width: 40rem;
  box-shadow: $container-shadow
}

.search-bar {
  margin-bottom: 1.5rem;
  box-shadow: $bottom-shadow
}

.navbar {
  margin-bottom: 1.5rem;
  background-color: $main-color;
  box-shadow: $bottom-shadow;
}

.jumbotron {
  background-color: $main-color;
  box-shadow: $bottom-shadow;
}


body {
  background-color: whitesmoke
}
